[submodule "chain/src"]
	path = chain/src
	url = git@github.com:Icy262/ninetyNinePercentChain
[submodule "ninetyNinePercentChainDNS"]
	path = ninetyNinePercentChainDNS
	url = git@github.com:Icy262/ninetyNinePercentChainDNS.git
